$color-pure-white: #ffffff;
$color-pure-black: #000000;

$color-common-100: #f1f5f9;
$color-common-200: #e2e8f0;
$color-common-300: #cbd5e1;
$color-common-400: #94a3b8;
$color-common-500: #64748b;
$color-common-600: #475569;
$color-common-700: #334155;
$color-common-800: #1e293b;
$color-common-900: #0f172a;

$color-primary-100: #e0f2fe;
$color-primary-200: #bae6fd;
$color-primary-300: #7dd3fc;
$color-primary-400: #38bdf8;
$color-primary-500: #0ea5e9;
$color-primary-600: #0284c7;
$color-primary-700: #0369a1;
$color-primary-800: #075985;
$color-primary-900: #0c4a6e;

$color-success-100: #d1fae5;
$color-success-200: #a7f3d0;
$color-success-300: #6ee7b7;
$color-success-400: #34d399;
$color-success-500: #10b981;
$color-success-600: #059669;
$color-success-700: #047857;
$color-success-800: #065f46;
$color-success-900: #064e3b;

$color-attention-100: #fef9c3;
$color-attention-200: #fef08a;
$color-attention-300: #fde047;
$color-attention-400: #facc15;
$color-attention-500: #eab308;
$color-attention-600: #ca8a04;
$color-attention-700: #a16207;
$color-attention-800: #854d0e;
$color-attention-900: #713f12;

$color-error-100: #fee2e2;
$color-error-200: #fecaca;
$color-error-300: #fca5a5;
$color-error-600: #dc2626;
$color-error-400: #f87171;
$color-error-500: #ef4444;
$color-error-700: #b91c1c;
$color-error-800: #991b1b;
$color-error-900: #7f1d1d;
