@import "../../../../../assets/scss/styles";

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  border-top: 1px solid $color-common-200;
  padding: 0.5rem 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: $color-common-200;
  }
}
