@import "../../../assets/scss/styles";

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  background-color: $color-common-100;

  app-map {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  app-weather-hourly {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}
